[[local|localrc]]
# Basic configuration
ADMIN_PASSWORD=secret
DATABASE_PASSWORD=secret
RABBIT_PASSWORD=secret
SERVICE_PASSWORD=secret
SERVICE_TOKEN=secret

# Disable Nova
disable_service n-novnc
disable_service n-cauth
disable_service n-cpu
disable_service n-cond
disable_service n-sch
disable_service n-crt
disable_service n-api
disable_service n-obj
disable_service n-super-ctl
disable_service n-cond
disable_service n-sch
disable_service n-cpu
disable_service n-crt
disable_service n-api
disable_service n-obj
disable_service n-super-ctl

# Enable Trove
enable_service trove-api
enable_service trove-taskmanager
enable_service trove-conductor

# Configure Trove
TROVE_ENABLE_ORACLE=True
TROVE_ORACLE_MIDDLEWARE_URL=http://localhost:8000
TROVE_USE_NOVA=False

# Configure Horizon
enable_service horizon
HORIZON_BRANCH=master

# Configure Keystone
enable_service keystone
KEYSTONE_TOKEN_FORMAT=PKI

# Configure MySQL
enable_service mysql
MYSQL_PASSWORD=secret

# Configure RabbitMQ
enable_service rabbit

# Configure Glance
enable_service glance-api
enable_service glance-reg

# Configure Swift
enable_service s-proxy
enable_service s-object
enable_service s-container
enable_service s-account

# Configure Heat
enable_service heat-api
enable_service heat-api-cfn
enable_service heat-engine

# Configure Neutron
enable_service neutron
enable_service q-svc
enable_service q-agt
enable_service q-dhcp
enable_service q-l3
enable_service q-meta
enable_service q-metering

# Configure Cinder
enable_service cinder
enable_service c-api
enable_service c-sch
enable_service c-vol

# Configure Tempest
enable_service tempest

# Configure Ceilometer
enable_service ceilometer-api
enable_service ceilometer-collector
enable_service ceilometer-agent-central
enable_service ceilometer-agent-notification
enable_service ceilometer-alarm-evaluator
enable_service ceilometer-alarm-notifier

# Configure Aodh
enable_service aodh-api
enable_service aodh-evaluator
enable_service aodh-notifier
enable_service aodh-listener

# Configure Gnocchi
enable_service gnocchi-api
enable_service gnocchi-metricd

# Configure Panko
enable_service panko-api

# Configure Barbican
enable_service barbican-api
enable_service barbican-worker
enable_service barbican-keystone-listener

# Configure Designate
enable_service designate-api
enable_service designate-central
enable_service designate-mdns
enable_service designate-pool-manager
enable_service designate-zone-manager
enable_service designate-sink

# Configure Manila
enable_service manila-api
enable_service manila-scheduler
enable_service manila-share

# Configure Magnum
enable_service magnum-api
enable_service magnum-conductor

# Configure Sahara
enable_service sahara-api
enable_service sahara-engine

# Configure Mistral
enable_service mistral-api
enable_service mistral-engine
enable_service mistral-executor
enable_service mistral-event-engine

# Configure Zaqar
enable_service zaqar-server

# Configure Kuryr
enable_service kuryr-kubernetes

# Configure Octavia
enable_service octavia-api
enable_service octavia-worker
enable_service octavia-housekeeping
enable_service octavia-health-manager

# Configure Senlin
enable_service senlin-api
enable_service senlin-engine
enable_service senlin-conductor

# Configure Tacker
enable_service tacker-api
enable_service tacker-conductor
enable_service tacker-server

# Configure Vitrage
enable_service vitrage-api
enable_service vitrage-graph
enable_service vitrage-notifier
enable_service vitrage-ml
enable_service vitrage-persistor

# Configure Watcher
enable_service watcher-api
enable_service watcher-applier
enable_service watcher-engine

# Configure Zun
enable_service zun-api
enable_service zun-wsproxy
enable_service zun-compute

# Configure Kolla
enable_service kolla-api
enable_service kolla-conductor

# Configure Kuryr
enable_service kuryr-kubernetes

# Configure Qinling
enable_service qinling-api
enable_service qinling-engine

# Configure Freezer
enable_service freezer-api
enable_service freezer-scheduler

# Configure Searchlight
enable_service searchlight-api
enable_service searchlight-listener

# Configure Congress
enable_service congress-api
enable_service congress-engine
enable_service congress-datasource

# Configure CloudKitty
enable_service cloudkitty-api
enable_service cloudkitty-processor
enable_service cloudkitty-collector

# Configure Masakari
enable_service masakari-api
enable_service masakari-engine
enable_service masakari-instancemonitor

# Configure Blazar
enable_service blazar-api
enable_service blazar-manager

# Configure Cyborg
enable_service cyborg-api
enable_service cyborg-conductor

# Configure Ironic
enable_service ironic-api
enable_service ironic-conductor
enable_service ironic-inspector

# Configure Neutron
enable_service neutron
enable_service q-svc
enable_service q-agt
enable_service q-dhcp
enable_service q-l3
enable_service q-meta
enable_service q-metering

# Configure Cinder
enable_service cinder
enable_service c-api
enable_service c-sch
enable_service c-vol

# Configure Tempest
enable_service tempest

# Configure Ceilometer
enable_service ceilometer-api
enable_service ceilometer-collector
enable_service ceilometer-agent-central
enable_service ceilometer-agent-notification
enable_service ceilometer-alarm-evaluator
enable_service ceilometer-alarm-notifier

# Configure Aodh
enable_service aodh-api
enable_service aodh-evaluator
enable_service aodh-notifier
enable_service aodh-listener

# Configure Gnocchi
enable_service gnocchi-api
enable_service gnocchi-metricd

# Configure Panko
enable_service panko-api

# Configure Barbican
enable_service barbican-api
enable_service barbican-worker
enable_service barbican-keystone-listener

# Configure Designate
enable_service designate-api
enable_service designate-central
enable_service designate-mdns
enable_service designate-pool-manager
enable_service designate-zone-manager
enable_service designate-sink

# Configure Manila
enable_service manila-api
enable_service manila-scheduler
enable_service manila-share

# Configure Magnum
enable_service magnum-api
enable_service magnum-conductor

# Configure Sahara
enable_service sahara-api
enable_service sahara-engine

# Configure Mistral
enable_service mistral-api
enable_service mistral-engine
enable_service mistral-executor
enable_service mistral-event-engine

# Configure Zaqar
enable_service zaqar-server

# Configure Kuryr
enable_service kuryr-kubernetes

# Configure Octavia
enable_service octavia-api
enable_service octavia-worker
enable_service octavia-housekeeping
enable_service octavia-health-manager

# Configure Senlin
enable_service senlin-api
enable_service senlin-engine
enable_service senlin-conductor

# Configure Tacker
enable_service tacker-api
enable_service tacker-conductor
enable_service tacker-server

# Configure Vitrage
enable_service vitrage-api
enable_service vitrage-graph
enable_service vitrage-notifier
enable_service vitrage-ml
enable_service vitrage-persistor

# Configure Watcher
enable_service watcher-api
enable_service watcher-applier
enable_service watcher-engine

# Configure Zun
enable_service zun-api
enable_service zun-wsproxy
enable_service zun-compute

# Configure Kolla
enable_service kolla-api
enable_service kolla-conductor

# Configure Kuryr
enable_service kuryr-kubernetes

# Configure Qinling
enable_service qinling-api
enable_service qinling-engine

# Configure Freezer
enable_service freezer-api
enable_service freezer-scheduler

# Configure Searchlight
enable_service searchlight-api
enable_service searchlight-listener

# Configure Congress
enable_service congress-api
enable_service congress-engine
enable_service congress-datasource

# Configure CloudKitty
enable_service cloudkitty-api
enable_service cloudkitty-processor
enable_service cloudkitty-collector

# Configure Masakari
enable_service masakari-api
enable_service masakari-engine
enable_service masakari-instancemonitor

# Configure Blazar
enable_service blazar-api
enable_service blazar-manager

# Configure Cyborg
enable_service cyborg-api
enable_service cyborg-conductor

# Configure Ironic
enable_service ironic-api
enable_service ironic-conductor
enable_service ironic-inspector 